::-webkit-scrollbar {
    background-color: blue;
  }
  
  /* Set the color of the scrollbar thumb (drag handle) */
  ::-webkit-scrollbar-thumb {
    background-color: blue;
  }
  
  /* Set the color of the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: blue;
  }
  .mantine-vcl0d1 {
    display: none;
  }